<ion-view view-title="7 Minute Workout Assistant">
    <ion-nav-buttons side="right">
        <a href="#/settings" class="button button-icon ion-gear-b"></a>
    </ion-nav-buttons>
    <ion-content class="padding">
        <button ng-click="startWorkout()" class="button">Start Workout</button>
        <div class="card">
            <ion-item class="item-divider">Workout Plan</ion-item>
            <ion-item>
                <div ng-repeat="routine in routines">
                    <b>{{routine.name}}:</b> {{routine.duration}} Seconds
                </div>
            </ion-item>
            <ion-item class="item-divider">
                Overall time: <b>{{overallTime(routines)}} Minutes</b>
            </ion-item>
        </div>
    </ion-content>
</ion-view>

