<div ng-controller="SettingsCtrl" layout="column">
        <md-card class="routine-item">
            <div class="routine-caption">Alle</div>
            <div layout>
                <div class="routine-label">Dauer: {{allRoutinesTime}} Sek.</div>
                <md-slider flex
                           ng-model="allRoutinesTime"
                           step="1" min="15" max="90"
                           class="routine-slider"
                           aria-label="duration">
                </md-slider>
            </div>

            <div layout>
                <div class="routine-label">Pause: {{allRoutinesPause}} Sek.</div>
                <md-slider flex
                           ng-model="allRoutinesPause"
                           step="1" min="1" max="20"
                           class="routine-slider"
                           aria-label="break">
                </md-slider>
            </div>
        </md-card>
        <md-card ng-repeat="routine in routines" class="routine-item" >
            <div class="routine-caption">{{routine.name}}</div>
            <div layout>
                <div class="routine-label">Dauer: {{routine.time}} Sek.</div>
                <md-slider flex
                           ng-model="routine.time"
                           step="1" min="15" max="90"
                           class="routine-slider"
                           aria-label="duration">
                </md-slider>
            </div>

            <div layout>
                <div class="routine-label">Pause: {{routine.pause}} Sek.</div>
                <md-slider flex
                           ng-model="routine.pause"
                           step="1" min="1" max="20"
                           class="routine-slider"
                           aria-label="break">
                </md-slider>
            </div>
        </md-card>
</div>