<div ng-controller="AllRoutineTimesCtrl" class="settings-allRoutineTimes-view">
    This will set the times for ALL Workout Routines together.
    <md-card class="routine-item">
        <div class="routine-caption">Alle</div>
        <div layout>
            <div class="routine-label">Dauer: {{allRoutinesTime}} Sek.</div>
            <md-slider flex
                       ng-model="allRoutinesTime"
                       step="1" min="15" max="90"
                       class="routine-slider"
                       aria-label="duration">
            </md-slider>
        </div>

        <div layout>
            <div class="routine-label">Pause: {{allRoutinesPause}} Sek.</div>
            <md-slider flex
                       ng-model="allRoutinesPause"
                       step="1" min="1" max="20"
                       class="routine-slider"
                       aria-label="break">
            </md-slider>
        </div>
    </md-card>
</div>