<ion-view view-title="Settings">
    <ion-content>
        <ion-list>
            <ion-item ng-click="openAllRoutineTimesModal()" class="item item-icon-left">
                <i class="icon ion-flash"></i>
                Set all Routine times together
            </ion-item>
            <ion-item ui-sref="individual-times" class="item item-icon-left" >
                <i class="icon ion-podium"></i>
                Set each Routine time individually
            </ion-item>
            <ion-item class="item item-icon-left" >
                <i class="icon ion-information-circled"></i>
                About
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>

