* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */

    /*
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
    */
}

.view {

}

.view.ng-enter {
    z-index:8888;
}
.view.ng-leave {
    z-index:9999;
}

.main-view.ng-enter {
    -webkit-animation: slideInLeft 0.5s both ease-in;
    -moz-animatio: slideInLeft 0.5s both ease-in;
    animation: slideInLeft 0.5s both ease-in;
}
.main-view.ng-leave {
    -webkit-animation: slideOutLeft 0.5s both ease-in;
    -moz-animation: slideOutLeft 0.5s both ease-in;
    animation: slideOutLeft 0.5s both ease-in;
}

.settings-view.ng-enter 		{
    -webkit-animation: slideInRight 0.5s both ease-in;
    -moz-animation: slideInRight 0.5s both ease-in;
    animation: slideInRight 0.5s both ease-in;
}
.settings-view.ng-leave {
    -webkit-animation: slideOutRight 0.5s both ease-in;
    -moz-animation: slideOutRight 0.5s both ease-in;
    animation: slideOutRight 0.5s both ease-in;
}

@keyframes slideInRight {
    from 	{ transform:translateX(100%); }
    to 		{ transform: translateX(0); }
}
@-moz-keyframes slideInRight {
    from 	{ -moz-transform:translateX(100%); }
    to 		{ -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
    from 	{ -webkit-transform:translateX(100%); }
    to 		{ -webkit-transform: translateX(0); }
}

@keyframes slideInLeft {
    from 	{ transform: translateX(-100%); }
    to 		{ transform: translateX(0); }
}
@-moz-keyframes slideInLeft {
    from 	{ -moz-transform: translateX(-100%); }
    to 		{ -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInLeft {
    from 	{ -webkit-transform: translateX(-100%); }
    to 		{ -webkit-transform: translateX(0); }
}

@keyframes slideOutRight {
    to 		{ transform: translateX(100%); }
}
@-moz-keyframes slideOutRight {
    to 		{ -moz-transform: translateX(100%); }
}
@-webkit-keyframes slideOutRight {
    to 		{ -webkit-transform: translateX(100%); }
}

@keyframes slideOutLeft {
    to 		{ transform: translateX(-100%); }
}
@-moz-keyframes slideOutLeft {
    to 		{ -moz-transform: translateX(-100%); }
}
@-webkit-keyframes slideOutLeft {
    to 		{ -webkit-transform: translateX(-100%); }
}
