.settings-view .routine-item {

}

.settings-view .routine-caption {
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 1px;
}

.settings-view .routine-label{
    display: inline-block;
    width: 115px;
    padding-top: 15px;
}

.settings-view .routine-slider{
    min-width: 100px;
}